{% extends "UL/layout.html" %}
{% block layout_title %} Proyectos {% endblock %}
{% block css %}
<style>
    .project-card-wide > .mdl-card__title {
        /*color: #fff;*/
        height: 100px;
        background: url('http://pre07.deviantart.net/e38e/th/pre/i/2004/250/0/b/_hypnotized_by_sc3l.jpg') center / cover;
    }
</style>
{% endblock%}

{% block body %}
<div class="mdl-grid">

    <div id="projects-panel" class="mdl-cell mdl-cell--12-col mdl-grid">

            <p v-if="!projects.length">No hay proyectos registrados</p>
            <div v-for="(project, index) in projects" class="mdl-cell">

                <div class="project-card-wide mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text">${project.name}</h2>
                    </div>

                    <div class="mdl-card__supporting-text">
                        <!--<i class="material-icons  mdl-list__item-avatar mdl-badge mdl-badge&#45;&#45;overlap mdl-badge&#45;&#45;no-background" data-badge="1">list</i>-->
                        <i class="material-icons  mdl-list__item-avatar mdl-badge mdl-badge--overlap mdl-badge--no-background" data-badge="1">subject</i>
                        <i class="material-icons  mdl-list__item-avatar mdl-badge mdl-badge--overlap mdl-badge--no-background" data-badge="1">bug_report</i>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                        <a v-on:click="_view_task(project,index)"
                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Ver tareas
                        </a>
                        <span v-if="project.team"  class="mdl-chip mdl-chip--contact mdl-chip--deletable">
                            <i class="mdl-chip__contact material-icons">people</i>
                            <span class="mdl-chip__text">${project.team}</span>
                            <!--<a href="#" class="mdl-chip__action"><i class="material-icons">cancel</i></a>-->
                        </span>
                    </div>

                    <div class="mdl-card__menu">
                        <a v-on:click="_edit(project,index)" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>
                </div>
                <div class="mdl-layout-spacer"></div>

            </div>
            <dialog id="project-dialog" class="mdl-dialog mdl-cell--4-col">
                <h4 class="mdl-dialog__title"><i class="material-icons">business_center</i>Proyecto</h4>
                <div class="mdl-dialog__content">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="project-name"
                                   v-model="projectModel.name" required>
                            <label class="mdl-textfield__label" for="project-name">Nombre del proyecto</label>
                        </div>
                    </form>
                </div>
                <div class="mdl-dialog__actions">
                    <button v-show="validationProjectModel.accept"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                            id="project-dialog-accept">Aceptar</button>
                    <button v-show="validationProjectModel.remove"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            id="project-dialog-remove">Eliminar</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            id="project-dialog-cancel">Cancelar</button>

                </div>
            </dialog>
    </div>

    <div id="project-tasks-panel" class="mdl-cell mdl-cell--12-col mdl-grid">
        <h3 v-if="tasks.length">${project_name}</h3>
        <p v-if="!tasks.length">No hay tareas registradas</p>
        <table v-else class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--4dp">
            <thead>
                <tr>
                    <th></th>
                    <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                    <th>Fecha inicio / fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="(task, index) in tasks">
                <td>
                    <a v-on:click="_edit(task,index)" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">edit</i>
                    </a>
                    <a v-on:click="_done(task,index)" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">done</i>
                    </a>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    ${task.name}
                </td>
                <td>
                    <span v-if="task.start_date_at"class="mdl-chip mdl-chip--contact">
                        <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">S</span>
                        <span class="mdl-chip__text">${task.start_date_at}</span>
                    </span>
                    <span v-if="task.due_date_at" class="mdl-chip mdl-chip--contact">
                        <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">E</span>
                        <span class="mdl-chip__text">${task.due_date_at}</span>
                    </span>
                </td>
                <td>
                    <a v-on:click="_view_sub_task_issues(task,index)">
                        <i class="material-icons  mdl-list__item-avatar mdl-badge mdl-badge--overlap mdl-badge--no-background" data-badge="1">subject</i>
                    </a>
                    <a v-on:click="_view_sub_task_issues(task,index)">
                        <i class="material-icons  mdl-list__item-avatar mdl-badge mdl-badge--overlap mdl-badge--no-background" data-badge="1">bug_report</i>
                    </a>
                </td>
            </tr>
        </table>

        <dialog id="task-dialog" class="mdl-dialog mdl-cell--4-col">
            <h4 class="mdl-dialog__title"><i class="material-icons">list</i>Tarea</h4>
            <div class="mdl-dialog__content">
                <form>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input v-model="taskModel.name"
                               class="mdl-textfield__input" type="text" id="task-name" required>
                        <label class="mdl-textfield__label" for="task-name">Nombre de la tarea</label>
                    </div>
                    <br/>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input v-model="taskModel.start_date_at"
                               class="mdl-textfield__input" type="date" id="task-start-date-at">
                        <label class="mdl-textfield__label" for="task-start-date-at">Fecha de inicio</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input v-model="taskModel.due_date_at"
                               class="mdl-textfield__input" type="date" id="task-due-date-at">
                        <label class="mdl-textfield__label" for="task-due-date-at">Fecha fin</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea v-model="taskModel.description"
                                  class="mdl-textfield__input" type="text" rows="4" id="note"></textarea>
                        <label class="mdl-textfield__label" for="note">Descripcion</label>
                    </div>
                </form>
            </div>
            <div class="mdl-dialog__actions">
                <button v-show="validationTaskModel.accept"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                        id="task-dialog-accept">Aceptar</button>
                <button v-show="validationTaskModel.remove" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                        id="task-dialog-remove">Eliminar</button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        id="task-dialog-cancel">Cancelar</button>

            </div>
        </dialog>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <div id="project-sub-tasks-panel" class="mdl-cell mdl-cell--6-col mdl-grid">
            <h3 v-if="subTasks.length">${task_name}</h3>
            <p v-if="!subTasks.length">No hay sub-tareas registradas</p>
            <table v-else
                   class="mdl-cell mdl-cell--6-col mdl-data-table mdl-js-data-table mdl-shadow--4dp">
                <thead>
                <tr>
                    <th></th>
                    <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                    <th>Fecha</th>
                    <th>Asignado</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(subTask, index) in subTasks">
                        <td>
                            <a v-on:click="_edit(subTask,index)" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">edit</i>
                            </a>
                            <a v-on:click="_done(subTask,index)" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">done</i>
                            </a>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">${subTask.name}</td>
                        <td>
                            <span v-if="subTask.start_date_at" class="mdl-chip mdl-chip--contact">
                                <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">DE</span>
                                <span class="mdl-chip__text">${subTask.start_date_at}</span>
                            </span>
                            <br/>
                            <span v-if="subTask.due_date_at" class="mdl-chip mdl-chip--contact">
                                <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">A</span>
                                <span class="mdl-chip__text">${subTask.due_date_at}</span>
                            </span>
                        </td>
                        <td>
                            <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
                                <!--<img class="mdl-chip__contact" -->
                                     <!--src="https://getmdl.io/templates/dashboard/images/user.jpg"></img>-->
                                <i class="material-icons mdl-chip__contact">person</i>
                                <span class="mdl-chip__text">${get_assigned_user(subTask.assigned_user_id)}</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <dialog id="sub-task-dialog" class="mdl-dialog mdl-cell--6-col">
                <h4 class="mdl-dialog__title">Subtarea</h4>
                <div class="mdl-dialog__content">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="subTaskModel.name"
                                   class="mdl-textfield__input" type="text" id="sub-task-name" required>
                            <label class="mdl-textfield__label" for="sub-task-name">Nombre de la subtarea</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <select v-model="subTaskModel.assigned_user_id"
                                    class="mdl-textfield__input" id="sub-task-assigned-user" required>
                                <option v-for="user in assigned_users" v-bind:value="user.id"
                                        v-bind:selected="user.id == subTaskModel.assigned_user_id ? 'true' : 'false'">
                                    ${user.name} ${user.last_name} ${user.email}
                                </option>
                            </select>

                            <label class="mdl-textfield__label" for="sub-task-assigned-user">Usuario a asignar</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="subTaskModel.start_date_at"
                                   class="mdl-textfield__input" type="date" id="sub-task-start-date">
                            <label class="mdl-textfield__label" for="sub-task-start-date">Fecha de inicio</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="subTaskModel.due_date_at"
                                   class="mdl-textfield__input" type="date" id="sub-task-due-date">
                            <label class="mdl-textfield__label" for="sub-task-due-date">Fecha fin</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea v-model="subTaskModel.description"
                                      class="mdl-textfield__input" rows="4" id="sub-task-description"></textarea>
                            <label class="mdl-textfield__label" for="sub-task-description">Descripcion</label>
                        </div>
                    </form>
                </div>
                <div class="mdl-dialog__actions">
                    <button v-show="validationSubTaskModel.accept"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                            id="sub-task-dialog-accept">Aceptar</button>
                    <button v-show="validationSubTaskModel.remove" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            id="sub-task-dialog-remove">Eliminar</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            id="sub-task-dialog-cancel">Cancelar</button>
                </div>
            </dialog>

        </div>

        <div class="mdl-layout-spacer"></div>

        <!--<div id="project-task-issues-panel" class="mdl-cell mdl-cell&#45;&#45;6-col mdl-grid">-->

            <!--<table class="mdl-cell mdl-cell&#45;&#45;6-col mdl-data-table mdl-js-data-table mdl-shadow&#45;&#45;4dp">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th></th>-->
                    <!--<th class="mdl-data-table__cell&#45;&#45;non-numeric">Nombre</th>-->
                    <!--<th>Tipo</th>-->
                    <!--&lt;!&ndash;<th>Prioridad</th>&ndash;&gt;-->
                    <!--<th>Asignado</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<a  class="mdl-button mdl-js-button mdl-button&#45;&#45;icon">-->
                            <!--<i class="material-icons">edit</i>-->
                        <!--</a>-->
                        <!--<a class="mdl-button mdl-js-button mdl-button&#45;&#45;icon">-->
                            <!--<i class="material-icons">done</i>-->
                        <!--</a>-->
                    <!--</td>-->
                    <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric">Acrylic (Transparent)</td>-->
                    <!--<td>-->
                <!--<span class="mdl-chip mdl-chip&#45;&#45;contact">-->
                    <!--<span class="mdl-chip__contact mdl-color&#45;&#45;teal mdl-color-text&#45;&#45;white"></span>-->
                    <!--<span class="mdl-chip__text">Bug</span>-->
                <!--</span>-->
                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>&ndash;&gt;-->
                        <!--<br/>-->
                <!--<span class="mdl-chip mdl-chip&#45;&#45;contact">-->
                    <!--<span class="mdl-chip__contact mdl-color&#45;&#45;red mdl-color-text&#45;&#45;white"></span>-->
                    <!--<span class="mdl-chip__text">Critoc</span>-->
                <!--</span>-->
                    <!--</td>-->
                    <!--<td>-->
                <!--<span class="mdl-chip mdl-chip&#45;&#45;contact mdl-chip&#45;&#45;deletable">-->
                    <!--<img class="mdl-chip__contact" src="https://getmdl.io/templates/dashboard/images/user.jpg"></img>-->
                    <!--<span class="mdl-chip__text">Jose Juan</span>-->
                    <!--&lt;!&ndash;<a href="#" class="mdl-chip__action"><i class="material-icons">cancel</i></a>&ndash;&gt;-->
                <!--</span>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<td class="mdl-data-table__cell&#45;&#45;non-numeric">Plywood (Birch)</td>&ndash;&gt;-->
                <!--&lt;!&ndash;<td>50</td>&ndash;&gt;-->
                <!--&lt;!&ndash;<td>$1.25</td>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<td class="mdl-data-table__cell&#45;&#45;non-numeric">Laminate (Gold on Blue)</td>&ndash;&gt;-->
                <!--&lt;!&ndash;<td>10</td>&ndash;&gt;-->
                <!--&lt;!&ndash;<td>$12.35</td>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                <!--</tbody>-->
            <!--</table>-->

        <!--</div>-->

    </div>
</div>

{% endblock %}

{% block button_fab %}
<!--start project  fab-->
<a id="show-project-dialog" class="mdl-button mdl-button--colored mdl-color-text--white mdl-button--fab zr-button-fab">
    <i class="material-icons">business_center</i>
</a>
<!--end project fab-->

<!--start task fab-->
<a id="from-task-back-project"
   class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  zr-button-fab zr-second-fab">
    <i class="material-icons">arrow_back</i>
</a>
<a id="show-task-dialog"
   class="mdl-button mdl-button--colored mdl-color-text--white mdl-button--fab zr-button-fab">
    <i class="material-icons">list</i>
</a>
<!--end task fab-->
<a id="from-sub-task-back-task"
   class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  zr-button-fab zr-second-fab">
    <i class="material-icons">arrow_back</i>
</a>
<a id="show-sub-task-dialog"
   class="mdl-button mdl-button--colored mdl-color-text--white mdl-button--fab zr-button-fab">
    <i class="material-icons">format_list_numbered</i>
</a>
{% endblock %}

{% block js %}
<script src="/project.js" type="application/javascript"></script>
<script src="/test.js" type="application/javascript"></script>
{% endblock %}
