{% extends "frontend/layout.html" %}

{% block body %}

    <div class="zr-summary-focus-section mdl-typography--text-left">
        <h3 class="zr-slogan">
            {{
                _('
                    Meet your goals, <br/>
                    improve your habits,<br/>
                    invest your time <br/>
                    with an simple plan. <br/>
                ')
            }}
        </h3>
        <div class="zr-sub-slogan">
            {{ _('Improve your productivity . . .') }}
        </div>
        <a href="{{ url_for('google/login') }}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-typography--text-uppercase">
                {{ _('sign up for free') }}
            </button>
        </a>
    </div>

    <div class="zr-goal-section mdl-typography--text-center">
        <div class="mdl-typography--display-1-color-contrast">
            {{ _('The power to write your goals') }}
        </div>
        <div class="zr-goal-screens">
            <div class="zr-goal-overview zr-goal-screen">
                <a class="zr-goal-image-link" href="">
                    <img class="zr-goal-screen-image" src="/static/images/dream/Focus-Goal.png">
                </a>
                <a class="zr-goal-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">
                    {{ _('Overview') }}
                </a>
            </div>

            <div class="zr-goal-edit zr-goal-screen">
                <a class="zr-goal-image-link" href="">
                    <img class="zr-goal-screen-image" src="/static/images/dream/Focus-Goal-Edit.png">
                </a>
                <a class="zr-goal-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">
                    {{ _('Write') }}
                </a>
            </div>

            <div class="zr-goal-list zr-goal-screen">
                <a class="zr-goal-image-link" href="">
                    <img class="zr-goal-screen-image" src="/static/images/dream/Focus-Goal-List.png">
                </a>
                <a class="zr-goal-link mdl-typography--font-regular mdl-typography--text-uppercase mdl-typography--text-left" href="">
                    {{ _('Progress') }}
                </a>
            </div>
        </div>

    </div>

{#    <div class="zr-habit-section">#}
{#        <div class="android-wear-band">#}
{#            <div class="android-wear-band-text">#}
{#                <div class="mdl-typography--display-2 mdl-typography--font-thin">The best of Google built in</div>#}
{#                <p class="mdl-typography--headline mdl-typography--font-thin">#}
{#                    Android works perfectly with your favourite apps like Google Maps,#}
{#                    Calendar and YouTube.#}
{#                </p>#}
{#                <p>#}
{#                    <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">#}
{#                        See what's new in the Play Store&nbsp;<i class="material-icons">chevron_right</i>#}
{#                    </a>#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="zr-pomodoro-section">#}
{##}
{#    </div>#}
{##}
{#    <div class="zr-quick-planning-section">#}
{##}
{#    </div>#}

{% endblock %}
{% block js %}
    <script>
        document.querySelector("#navigation-overview").style.borderBottom = "4px solid #000";
    </script>
{% endblock %}