<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Art of life!!</title>
        <link href='/css/site.css' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <center>
            <section class='container'>
                <hgroup>
                    <h1>Art Of Life</h1>
                </hgroup>
                <section >
                    © 2016. by Zero 1/0.
                </section>
                <div class="logo"><a href="https://www.openshift.com/"></a></div>
            </section>
        </center>
    </body>
</html>
