{% extends "UL/layout.html" %}

{% block layout_title %}
    Se tu mismo
{% endblock %}

{% block css %}
<style>
    .background-dream{
        width: 270px;
        background: url('/images/xishan.jpg') center / cover;
    }
    .background-habit{
        width: 170px;
        background: url('/images/texture_006_by_kuschelirmel_stock.jpg') center / cover;
    }
    .background-pending{
        width: 250px;
        background: url('/images/watercolour_texture_by_summer__moon.jpg') center / cover;
    }
</style>
{% endblock %}

{% block body %}
<div class="mdl-grid demo-content">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#dreams-panel" class="mdl-tabs__tab is-active"><i class="material-icons">hdr_strong</i></a>
            <a href="#habits-panel" class="mdl-tabs__tab"><i class="material-icons">gavel</i></a>
            <a href="#pending-panel" class="mdl-tabs__tab"><i class="material-icons">list</i></a>
            <!--<a href="#wish-panel" class="mdl-tabs__tab"><i class="material-icons">extension</i></a>-->
        </div>

        <div class="mdl-tabs__panel is-active" id="dreams-panel">
            <p v-if="!dreams.length">No hay objectivos registrados</p>
            <div v-else class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                <div class="background-dream mdl-card mdl-shadow--2dp" v-for="(dream, index) in dreams">
                    <div class=" mdl-card__title">
                        <h2 class="mdl-card__title-text">
                            ${dream.name}
                        </h2>
                    </div>
                    <div class="mdl-card__supporting-text">

                    <span class="mdl-chip mdl-chip--contact" v-if="dream.created_at">
                        <i class="mdl-chip__contact material-icons">play_arrow</i>
                        <span class="mdl-chip__text">${dream.created_at}</span>
                    </span>
                    <span class="mdl-chip mdl-chip--contact" v-if="dream.due_date_at">
                        <i class="mdl-chip__contact material-icons">stop</i>
                        <span class="mdl-chip__text">${dream.due_date_at}</span>
                    </span>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button v-on:click="_edit(dream,index)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                            Editar
                        </button>
                        <button v-on:click="_done(dream,index)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons">done</i>
                        </button>
                        <!--<div class="mdl-tooltip" data-mdl-for="dream-done">-->
                            <!--Finalizar-->
                        <!--</div>-->

                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>

            </div>
            <!-- Dialog dreams-->
            <dialog id="dream-dialog" class="mdl-dialog mdl-cell--4-col">
                <h4 class="mdl-dialog__title"> <i class="material-icons">hdr_strong</i>Objectivo</h4>
                <div class="mdl-dialog__content">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="name" v-model="dreamM.name" required="True">
                            <label class="mdl-textfield__label" for="name">Nombre del objectivo</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="date" id="due_date_at" v-model="dreamM.due_date_at">
                            <label class="mdl-textfield__label" for="due_date_at">Fecha a completar</label>
                        </div>
                    </form>
                </div>
                <div class="mdl-dialog__actions">
                    <button v-show="validationDreamM.accept" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="dream-dialog-accept">Aceptar</button>
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="dream-dialog-cancel">Cancelar</button>
                </div>
            </dialog>
        </div>
        <div class="mdl-tabs__panel" id="habits-panel">
            <div class="mdl-grid mdl-cell mdl-shadow--2dp mdl-color--white mdl-cell--12-col">
                <div class="background-habit mdl-card mdl-shadow--4dp">

                    <div class=" mdl-card__title">
                        <h2 class="mdl-card__title-text">
                            Leer libros en ingles!
                        </h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">done</div>
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">clear</div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Open
                        </a>
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">mood</i>
                        </button>
                    </div>
                </div>
                <div class="mdl-layout-spacer"></div>
                <div class="background-habit mdl-card mdl-shadow--2dp">

                    <div class=" mdl-card__title">
                        <h2 class="mdl-card__title-text">
                            Leer libros en ingles!
                        </h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">done</div>
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">clear</div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Open
                        </a>
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">mood</i>
                        </button>
                    </div>
                </div>
                <div class="mdl-layout-spacer"></div>
                <div class="background-habit mdl-card mdl-shadow--2dp">

                    <div class=" mdl-card__title">
                        <h2 class="mdl-card__title-text">
                            Leer libros en ingles!
                        </h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">done</div>
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">clear</div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Open
                        </a>
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">mood</i>
                        </button>
                    </div>
                </div>
                <div class="mdl-layout-spacer"></div>
                <div class="background-habit mdl-card mdl-shadow--2dp">

                    <div class=" mdl-card__title">
                        <h2 class="mdl-card__title-text">
                            Leer libros en ingles!
                        </h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">done</div>
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">clear</div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Open
                        </a>
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">mood</i>
                        </button>
                    </div>
                </div>
                <div class="mdl-layout-spacer"></div>
                <div class="background-habit mdl-card mdl-shadow--2dp">

                    <div class=" mdl-card__title">
                        <h2 class="mdl-card__title-text">
                            Leer libros en ingles!
                        </h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">done</div>
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">clear</div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Open
                        </a>
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">mood</i>
                        </button>
                    </div>
                </div>
                <div class="mdl-layout-spacer"></div>
                <div class="background-habit mdl-card mdl-shadow--2dp">

                    <div class=" mdl-card__title">
                        <h2 class="mdl-card__title-text">
                            Leer libros en ingles!
                        </h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">done</div>
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">clear</div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Open
                        </a>
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">mood</i>
                        </button>
                    </div>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>
        </div>
        <div class="mdl-tabs__panel" id="pending-panel">
            <div class="mdl-grid mdl-cell mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
                <div class="background-pending mdl-card mdl-shadow--2dp">

                    <div class=" mdl-card__title">
                        <h3 class="mdl-card__title-text">
                            Necesito hablar en Quick Learning para preguntar los precios!
                        </h3>
                    </div>
                    <!--<div class="mdl-card__supporting-text">-->
                    <!--<div class="material-icons mdl-badge mdl-badge&#45;&#45;overlap" data-badge="1">done</div>-->
                    <!--<div class="material-icons mdl-badge mdl-badge&#45;&#45;overlap" data-badge="1">clear</div>-->
                    <!--</div>-->
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Open
                        </a>
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">done</i>
                        </button>
                    </div>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>
        </div>
        <!--<div class="mdl-tabs__panel" id="wish-panel">-->
        <!--</div>-->
    </div>
</div>
<!--Box-->
<!--Dialog Habit-->
<!--<dialog id="habit-dialog" class="mdl-dialog mdl-cell&#45;&#45;4-col">-->
    <!--<h4 class="mdl-dialog__title"> <i class="material-icons">gavel</i> Habito</h4>-->
    <!--<div class="mdl-dialog__content">-->
        <!--<form action="#">-->
            <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                <!--<input class="mdl-textfield__input" type="text" id="sample3">-->
                <!--<label class="mdl-textfield__label" for="sample3">Nombre del habito</label>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="mdl-dialog__actions">-->
        <!--<button type="button" class="mdl-button">Agree</button>-->
        <!--<button type="button" class="mdl-button close">Disagree</button>-->
    <!--</div>-->
<!--</dialog>-->
<!--Dialog pending-->
<!--<dialog id="pending-dialog" class="mdl-dialog mdl-cell&#45;&#45;4-col">-->
    <!--<h4 class="mdl-dialog__title"> <i class="material-icons">list</i> Pendiente</h4>-->
    <!--<div class="mdl-dialog__content">-->
        <!--<form action="#">-->
            <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                <!--<input class="mdl-textfield__input" type="text" id="sample3">-->
                <!--<label class="mdl-textfield__label" for="sample3">Nombre del pendiente</label>-->
            <!--</div>-->
            <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                <!--<textarea class="mdl-textfield__input" type="text" rows="2" id="note"></textarea>-->
                <!--<label class="mdl-textfield__label" for="note">Descripcion</label>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="mdl-dialog__actions">-->
        <!--<button type="button" class="mdl-button">Agree</button>-->
        <!--<button type="button" class="mdl-button close">Disagree</button>-->
    <!--</div>-->
<!--</dialog>-->
{% endblock %}

{% block button_fab %}
<ul id="button-fab-yourself" class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="add-task">
    <li class="mdl-menu__item" id="show-dream-dialog">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">hdr_strong</i>
        </button>
    </li>
    <li class="mdl-menu__item" id="add-habit-dialog">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">gavel</i>
        </button>
    </li>
    <li class="mdl-menu__item" id="add-pending-dialog">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">list</i>
        </button>
    </li>
    <!--<li class="mdl-menu__item">-->
        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-button&#45;&#45;mini-fab mdl-button&#45;&#45;colored">-->
            <!--<i class="material-icons">extension</i>-->
        <!--</button>-->
    <!--</li>-->
</ul>
<a  class="mdl-button mdl-button--colored mdl-color-text--white mdl-button--fab zr-button-fab">
    <i id="add-task" class="material-icons">add</i>
</a>
{% endblock %}

{% block js%}
<script src="/yourself.js"> </script>
{% endblock %}