{% extends "UL/layout.html" %}

{% block layout_title %}
    Se tu mismo
{% endblock %}

{% block css %}
<style>
    .background-dream{
        /*width: 270px;*/
        background: url('/images/xishan.jpg') center / cover;
    }
    .background-habit{
        /*width: 170px;*/
        background: url('/images/texture_006_by_kuschelirmel_stock.jpg') center / cover;
    }
    .background-pending{
        /*width: 250px;*/
        background: url('/images/watercolour_texture_by_summer__moon.jpg') center / cover;
    }
</style>
{% endblock %}

{% block body %}
<div class="mdl-grid demo-content">

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

        <div class="mdl-tabs__tab-bar">
            <a id="tab-dreams-panel" href="#dreams-panel" class="mdl-tabs__tab is-active">
                <i class="material-icons">gps_fixed</i>
            </a>
            <a id="tab-habits-panel" href="#habits-panel" class="mdl-tabs__tab">
                <i class="material-icons">gavel</i>
            </a>
            <a id="tab-pending-panel" href="#pending-panel" class="mdl-tabs__tab">
                <i class="material-icons">subject</i>
            </a>
        </div>
        <!--Panel dream-->
        <div class="mdl-tabs__panel is-active" id="dreams-panel">
            <div v-for="(dream, index) in dreams" class="mdl-list">
                <div
                     class="mdl-list__item mdl-list__item--two-line mdl-shadow--2dp">
                    <span class="mdl-list__item-primary-content ">
                        <button v-on:click="_done(dream,index)"
                                class=" mdl-list__item-avatar mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                                mdl-button--colored mdl-button-raised mdl-js-ripple-effect">
                            <i class="material-icons">assignment_turned_in</i>
                        </button>
                        <span>${dream.name}</span>
                        <span class="mdl-list__item-sub-title">${dream.created_at} - ${dream.due_date_at}</span>
                    </span>
                    <a class="mdl-list__item-secondary-action" href="#">
                        <a v-on:click="_edit(dream,index)"
                           class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                            mdl-button--colored mdl-button-raised mdl-js-ripple-effect">
                            <i class="material-icons">edit</i>
                        </a>
                    </a>
                    </a>

                </div>
            </div>

            <!-- Dialog dreams-->
            <dialog id="dream-dialog" class="mdl-dialog mdl-cell--4-col">
                <h4 class="mdl-dialog__title">
                    <i class="material-icons">gps_fixed</i>Objectivo
                </h4>
                <div class="mdl-dialog__content">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="name"
                                   v-model="dreamModel.name" required="True">
                            <label class="mdl-textfield__label" for="name">Nombre</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="date" id="due_date_at"
                                   v-model="dreamModel.due_date_at">
                            <label class="mdl-textfield__label" for="due_date_at">Fecha a finalizar</label>
                        </div>
                    </form>
                </div>
                <div class="mdl-dialog__actions">
                    <button v-show="validationDreamModel.accept"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                            id="dream-dialog-accept">
                        <i class="material-icons">check_circle</i>Aceptar
                    </button>
                    <button v-show="validationDreamModel.remove"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            id="dream-dialog-remove">
                        <i class="material-icons">delete_forever</i>Eliminar
                    </button>
                    <button
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            id="dream-dialog-cancel">
                        <i class="material-icons">cancel</i>Cancelar
                    </button>

                </div>
            </dialog>
        </div>
        <!--End panel dream-->

        <!--Panel habit-->
        <div class="mdl-tabs__panel" id="habits-panel">
            <p v-if="!habits.length">No hay habitos registrados</p>
            <ul class="mdl-list">
                <li v-for="(habit, index) in habits"
                     class="mdl-list__item mdl-list__item--two-line mdl-shadow--2dp">
                    <span class="mdl-list__item-primary-content">
                        <button v-on:click="_done(habit,index)"
                                class=" mdl-list__item-avatar mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                                        mdl-button--colored mdl-button-raised mdl-js-ripple-effect">
                            <i class="material-icons">${_icon_done(habit.success, habit.fail)}</i>
                        </button>
                        <span>${habit.name}</span>
                      <!--<span class="mdl-list__item-sub-title">62 Episodes</span>-->
                    </span>
                    <span class="mdl-list__item-secondary-content">
                      <a class="mdl-list__item-secondary-action" href="#">
                        <a v-on:click="_edit(habit,index)"
                           class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                            mdl-button--colored mdl-button-raised mdl-js-ripple-effect">
                            <i class="material-icons">edit</i>
                        </a>
                      </a>
                    </span>
                </li>
            </ul>
            <!--Dialog box habit-->
            <dialog id="habit-dialog" class="mdl-dialog mdl-cell--4-col">
                <h4 class="mdl-dialog__title">
                    <i class="material-icons">gavel</i>Habito
                </h4>
                <div class="mdl-dialog__content">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text"
                                   id="habit-name" v-model="habitModel.name" required>
                            <label class="mdl-textfield__label" for="habit-name">Nombre</label>
                        </div>
                    </form>
                </div>
                <div class="mdl-dialog__actions">
                    <button v-show="validationHabitModel.accept"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                        id="habit-dialog-accept">
                        <i class="material-icons">check_circle</i>Aceptar
                    </button>
                    <button v-show="validationHabitModel.remove"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                        id="habit-dialog-remove">
                        <i class="material-icons">delete_forever</i>Eliminar
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        id="habit-dialog-cancel">
                        <i class="material-icons">cancel</i>Cancelar
                    </button>
                </div>
            </dialog>

        </div>
        <!--End habit panel-->

        <!--Panel pending-->
        <div class="mdl-tabs__panel" id="pending-panel">
            <p v-if="!pendings.length">No hay pendientes registrados</p>
            <ul class="mdl-list">
                <li v-for="(pending, index) in pendings"
                    class="mdl-list__item mdl-list__item--three-line mdl-shadow--2dp">
                    <span class="mdl-list__item-primary-content">
                        <button id="pending-button-done"
                                v-on:click="_done(pending,index)"
                                class="mdl-list__item-avatar mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                                mdl-button--colored mdl-button-raised mdl-js-ripple-effect">
                            <i class="material-icons">assignment_turned_in</i>
                            <div class="mdl-tooltip" data-mdl-for="pending-button-done">
                                Hecho
                            </div>
                        </button>
                        <span>
                            ${pending.name}
                        </span>
                        <span class="mdl-list__item-text-body">
                            ${pending.description}
                        </span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <a class="mdl-list__item-secondary-action">
                            <button id="pending-button-edit"
                                    v-on:click="_edit(pending,index)"
                                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                                    mdl-button--colored mdl-button-raised mdl-js-ripple-effect">
                                <i class="material-icons">edit</i>
                            </button>
                            <div class="mdl-tooltip" data-mdl-for="pending-button-edit">
                                Editar
                            </div>
                        </a>
                    </span>
                </li>
            </ul>

            <dialog id="pending-dialog" class="mdl-dialog mdl-cell--4-col">
                <h4 class="mdl-dialog__title">
                    <i class="material-icons">subject</i>Pendiente
                </h4>
                <div class="mdl-dialog__content">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input v-model="pendingModel.name" class="mdl-textfield__input"
                                   type="text" id="pending-name" required>
                            <label class="mdl-textfield__label" for="pending-name">Nombre</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea v-model="pendingModel.description"
                                      class="mdl-textfield__input" type="text"
                                      rows="2" id="pending-description">
                            </textarea>
                            <label class="mdl-textfield__label" for="pending-description">Descripción</label>
                        </div>
                    </form>
                </div>
                <div class="mdl-dialog__actions">
                    <button v-show="validationPendingModel.accept"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                       id="pending-dialog-accept">
                        <i class="material-icons">check_circle</i>Aceptar
                    </button>
                    <button v-show="validationPendingModel.remove"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                       id="pending-dialog-remove">
                        <i class="material-icons">delete_forever</i>Eliminar
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                       id="pending-dialog-cancel">
                        <i class="material-icons">cancel</i>Cancelar
                    </button>
                </div>
            </dialog>
        </div>
        <!--End panel pending-->
    </div>
</div>

{% endblock %}

{% block button_fab %}
<!--<ul id="button-fab-yourself" class="mdl-menu mdl-menu&#45;&#45;top-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="add-task">-->
    <!--<li class="mdl-menu__item" >-->
        <button id="show-dream-dialog" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored zr-button-fab">
            <i class="material-icons">gps_fixed</i>
        </button>
    <!--</li>-->
    <!--<li class="mdl-menu__item" >-->
        <button id="show-habit-dialog" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored zr-button-fab">
            <i class="material-icons">gavel</i>
        </button>
    <!--</li>-->
    <!--<li class="mdl-menu__item" >-->
        <button id="show-pending-dialog" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored zr-button-fab">
            <i class="material-icons">subject</i>
        </button>
    <!--</li>-->
<!--</ul>-->
<!--<a  class="mdl-button mdl-button&#45;&#45;colored mdl-color-text&#45;&#45;white mdl-button&#45;&#45;fab zr-button-fab">-->
    <!--<i id="add-task" class="material-icons">add</i>-->
<!--</a>-->
{% endblock %}

{% block js%}
<script src="/yourself.js" type="application/javascript"></script>
{% endblock %}