<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>{{app_name}}</title>
        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <!--<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">-->
        <!--<meta name="msapplication-TileColor" content="#3372DF">-->

        <link rel="shortcut icon" type="image/png" href="/images/logo.png"/>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-pink.min.css" />
        <link rel="stylesheet" href="/css/styles.css">
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="demo-header mdl-layout__header mdl-color" id="menu-header">
                <div class="mdl-layout__header-row">
                    <span class="android-title mdl-layout-title">
                        <img class="android-logo-image" src="/images/logo.png">{{app_name}}
                    </span>
                    <div class="mdl-layout-spacer">
                    </div>

                    <div class="dock center-elements">
                        <!--Pomodoro-->
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="menu-dreams" v-on:click="redirect_index_dream">

                            <i class="material-icons">show_chart</i>
                            <!--<a/>-->
                            <div class="mdl-tooltip mdl-tooltip--bottom" for="menu-dreams">
                                Por hacer
                            </div>
                        </button>
                        <!--Yourself-->
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                id="menu-pomodoro"
                                v-on:click="redirect_index_pomodoro">
                            <!--<a href="/ul/yourself">-->
                             <i class="material-icons">timer</i>
                                <!--<a/>-->
                            <div class="mdl-tooltip mdl-tooltip--bottom" for="menu-pomodoro">
                                Pomodoro
                            </div>
                        </button>
                        <!--Dashboard-->
                        <!--<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;icon" id="menu-dashboard" v-on:click="redirect_index_dashboard">-->
                            <!--<i class="material-icons">dashboard</i>-->
                            <!--<div class="mdl-tooltip mdl-tooltip&#45;&#45;bottom" for="menu-dashboard">-->
                                <!--Dashboard-->
                            <!--</div>-->
                        <!--</button>-->
                    </div>
                    <!--User profile-->
                    <span class="mdl-chip mdl-chip--contact mdl-chip--deletable mdl-color--white" id="menu-user">
                        <!--<img class="mdl-chip__contact"/>-->
                        <i class="mdl-chip__contact material-icons">account_box</i>
                        <span class="mdl-chip__text">{{session.user.name}}</span>
                        <a class="mdl-chip__action" ><i class="material-icons">account_circle</i></a>
                    </span>
                    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="menu-user">
                        <!--<li class="mdl-menu__item">-->
                            <!--<i class="material-icons">perm_identity</i>-->
                            <!--Perfil-->
                        <!--</li>-->
                        <li class="mdl-menu__item">
                            <a href="{{url_for('/logout')}}">
                                <i class="material-icons">lock</i>
                                Cerrar
                            </a>
                        </li>
                    </ul>
                    <div class="dock">
                        <!--Projects-->
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="menu-project" v-on:click="redirect_index_project">
                            <i class="material-icons">widgets</i>
                            <div class="mdl-tooltip mdl-tooltip--bottom" for="menu-project">
                                Proyectos
                            </div>
                        </button>
                        <!--Help-->
                        <!--<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;icon" id="menu-help">-->
                            <!--<i class="material-icons">help</i>-->
                            <!--<div class="mdl-tooltip mdl-tooltip&#45;&#45;bottom" for="menu-help">-->
                                <!--Soporte-->
                            <!--</div>-->
                        <!--</button>-->
                    </div>
                    <div class="mdl-layout-spacer">

                    </div>
                    <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;expandable">-->
                    <!--<label class="mdl-button mdl-js-button mdl-button&#45;&#45;icon" for="search">-->
                    <!--<i class="material-icons">search</i>-->
                    <!--</label>-->
                    <!--<div class="mdl-textfield__expandable-holder">-->
                    <!--<input class="mdl-textfield__input" type="text" id="search">-->
                    <!--<label class="mdl-textfield__label" for="search">Enter your query...</label>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </header>
            <main class="mdl-layout__content mdl-color--grey-100">
                {% block body %}{% endblock %}
            </main>
        </div>
        <div id="notify-snackbar" class="mdl-js-snackbar mdl-snackbar">
            <!--<div id="notify-snackbar-background" class="mdl-color&#45;&#45;red">-->
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
            <!--</div>-->
        </div>
        {% block button_fab %}{% endblock %}
        <script type='text/javascript' src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type='text/javascript' src="https://vuejs.org/js/vue.js"></script>
        <script type="text/javascript" src="/js/libzr.js" ></script>
        <script type='text/javascript' src="/js/ul.js"></script>
        <script type='text/javascript'>
             function notify (data){
                    var snackbarContainer = document.querySelector('#notify-snackbar');
                    if (!data.hasOwnProperty('timeout')){
                        data.timeout =2000;
                    }
                    snackbarContainer.MaterialSnackbar.showSnackbar(data);
             }
        </script>
        {% block js %}{% endblock %}
        <script type='text/javascript' src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</html>
