{% extends "UL/layout.html" %}
{% block layout_title %} Dashboard {% endblock %}
{% block css%}
<style type="text/css">
    .zr-pomodoro-font-timer {
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        line-height: 1;
        color: #767777;
        font-weight: 500;
        display:flex;
        align-items: center;
        justify-content:center;
        font-size: 60px;
    }
</style>
{% endblock %}
{% block body %}
<div class="mdl-grid " id="pomodoro-content">

    <div class="mdl-cell mdl-cell--12-col zr-pomodoro-font-timer">
        <span>${timer.hour}</span>:
        <span>${timer.minute}</span>:
        <span>${timer.second}</span>
    </div>

    <div class="mdl-cell mdl-cell--12-col center-all-elements">
        <div id="progress-pomodoro-timer" class="mdl-progress mdl-js-progress"></div>
    </div>
    <ul class="mdl-cell mdl-cell--8-col mdl-color--white mdl-shadow--4dp mdl-list center-elements">
        <!--<li class="mdl-list__item mdl-list__item&#45;&#45;two-line">-->
            <!--<span class="mdl-list__item-primary-content">-->
                <!--<i class="material-icons mdl-list__item-avatar">person</i>-->
                <!--<span>Bryan Cranston</span>-->
                <!--<span class="mdl-list__item-sub-title">62 Episodes</span>-->
            <!--</span>-->
            <!--<span class="mdl-list__item-secondary-content">-->
                <!--<span class="mdl-list__item-secondary-info">Actor</span>-->
                <!--<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>-->
            <!--</span>-->
        <!--</li>-->

        <li class="mdl-list__item mdl-shadow--4dp mdl-colored--accent">
            <!--<form>-->
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons  mdl-list__item-avatar">book</i>
                    <!--<span>-->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input v-model="activity.name" class="mdl-textfield__input" type="text" id="pomodoro-name"/>
                        <label class="mdl-textfield__label" for="pomodoro-name">Actividad</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input v-model="activity.timer"
                               class="mdl-textfield__input" type="text" id="pomodoro-timer">
                        <label class="mdl-textfield__label" for="pomodoro-timer">Tiempo (hh:mm o mm)</label>
                    </div>
                    <!--</span>-->
                </span>
            <!--</form>-->
            <span class="mdl-list__item-secondary-action">
                <button v-show="validationActivityModel.add"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                                mdl-button--colored mdl-button-raised mdl-js-ripple-effect"
                        v-on:click="add()">
                <i class="material-icons">alarm_add</i>
                </button>
            </span>
        </li>

        <li v-for="(activity, index) in activities" class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons  mdl-list__item-avatar">person</i>
              <span>${activity.name}</span>
            <span class="mdl-list__item-sub-title">${activity.timer}</span>
            </span>
            <span class="mdl-list__item-secondary-action">
                <button v-on:click="remove(activity,index)"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                                mdl-button--colored mdl-button-raised mdl-js-ripple-effect">
                    <i class="material-icons">delete_forever</i>
                 </button>
                 <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                                mdl-button--colored mdl-button-raised mdl-js-ripple-effect">
                    <i class="material-icons">stop</i>
                 </button>
                 <button v-on:click="pause(activity,index)"
                         class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                                mdl-button--colored mdl-button-raised mdl-js-ripple-effect">
                    <i class="material-icons">pause_circle_outline</i>
                 </button>
                <button v-on:click="start(activity,index)"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab
                                mdl-button--colored mdl-button-raised mdl-js-ripple-effect">
                    <i class="material-icons">play_circle_outline</i>
                 </button>
            </span>
        </li>
    </ul>
    <!--</div>-->
</div>

{% endblock %}

{% block js %}
<!--<script type="text/javascript">-->
    <!--document.querySelector('#progress-pomodoro-timer').addEventListener('mdl-componentupgraded', function() {-->
        <!--console.log('hi');-->
        <!--this.MaterialProgress.setProgress(80);-->
        <!--this.MaterialProgress.setBuffer(90);-->
    <!--});-->
<!--</script>-->
    <script src="/pomodoro.js" type="application/javascript"></script>
{% endblock %}
